Credenciales.py
Sistemas Dinamicos.xlsx
Sistemas Dinamicos Reporte 1.xlsx
Sistemas Dinamicos Reporte 2.xlsx
Sistemas Dinamicos Reporte 3.xlsx
Sistemas Dinamicos Reporte 4.xlsx
Sistemas Dinamicos Reporte 5.xlsx
Sistemas Dinamicos Reporte 6.xlsx
__pycache__/